@import "webfonts";

$font-family-sans-serif: "Formular", sans-serif;
$body-bg: #fff;
$body-gray: #F8F9FF;
$header-bg: #fff;
$primary: #067AD3;
$secondary: #142433;
$dark: #142433;
$light: #E5E8F5;
$blue: #519DFC;
$info: #519DFC;
$success: #2CD48E;
$danger: #FF4859;