@import "webfonts";

$font-family-sans-serif: "Formular", sans-serif;
$body-bg: #fff;
$body-gray: #f8f9ff;
$header-bg: #fff;
$purple: #7848ff;
$primary: #28a745;
// $primary: #2CD48E;
$secondary: #142433;
$dark: #142433;
$light: #e5e8f5;
$blue: #519dfc;
$info: #519dfc;
$success: #2cd48e;
$danger: #ff4859;
